.details {
  padding: 2rem;
  width: 40rem;
  height: 20rem;
  background-color: rgba(255, 183, 251, 0.9);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.text {
  white-space: pre-wrap;
  font-size: 1.25rem;
  margin: 1rem 0 1rem 1.5rem;
  color: rgb(122, 21, 109);
}

.detailsButton {
  text-decoration: none;
  color: rgb(201, 113, 195);
  font-weight: 600;
}

.detailsButton:hover {
  color: rgb(177, 100, 172);
}

.buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.editButton,
.deleteButton {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(255, 135, 239);
}

.editButton {
  color: rgb(80, 14, 71);
}

.deleteButton {
  color: rgb(80, 14, 71);
}

.editButton:hover {
  color: rgb(196, 76, 180);
}

.deleteButton:hover {
  color: rgb(196, 76, 180);
}
