.request {
  background-color: rgba(255, 183, 251, 0.7);
  margin: 1rem 0;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.2);
  animation: animate-in 1s ease-out forwards;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.request:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.request a {
  text-decoration: none;
}

.main {
  color: rgb(122, 21, 109);
  margin: 0;
  text-transform: uppercase;
}

.text {
  white-space: 1.25rem;
  color: rgb(122, 21, 109);
  margin: 0.25rem 0 0 0;
}

.buttons {
  position: absolute;
  top: 5px;
  right: 5px;
  display: flex;
  visibility: hidden;
}

.request:hover .buttons {
  visibility: visible;
}

.editButton,
.deleteButton {
  padding: 0.2rem;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.editButton {
  color: rgb(80, 14, 71);
}

.deleteButton {
  color: rgb(80, 14, 71);
}

.editButton:hover {
  color: rgb(196, 76, 180);
}

.deleteButton:hover {
  color: rgb(196, 76, 180);
}

.editButton:hover::after,
.deleteButton:hover::after {
  opacity: 1;
  visibility: visible;
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
